<div class="flex">
  <div class="m-auto">
    <mat-card>
      <mat-card-header>
        <!-- <mat-card-header> -->
          <mat-card-title> Zaloguj się:</mat-card-title>
          <mat-card-subtitle>Wprowadź email i hasło</mat-card-subtitle>
        <!-- </mat-card-header> -->
      </mat-card-header>
      <mat-card-content>
        <form>
          <mat-form-field color="accent" class="example-full-width" appearance="outline">
            <mat-label>Podaj adres e-mail</mat-label>
            <input type="email" matInput placeholder="nazwa@domena">

          </mat-form-field>

          <mat-form-field color="accent" class="example-full-width" appearance="outline">
            <mat-label>Podaj hasło</mat-label>
            <input type="password" matInput>
          </mat-form-field>
        </form>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions align="end">
        <button type="submit" mat-raised-button color="accent">Zaloguj</button>
      </mat-card-actions>
      <mat-card-footer align="center">
        <mat-card-subtitle>System: Moje rachunki v 2.0</mat-card-subtitle>
      </mat-card-footer>
    </mat-card>


    <h1></h1>

  </div>


</div>
