<mat-card>
  <mat-card-header>
    <mat-card-title>Rachunki</mat-card-title>
    <mat-card-subtitle>Lista wszystkich rachunków</mat-card-subtitle>
  </mat-card-header>
  <!-- <img matCardImage src="Card wide image source"> -->
  <mat-card-content>
    <!-- select <option value=""></option> -->
    <mat-form-field color="accent" class="half-width" appearance="outline">
      <mat-label>Wybierz kategorię płatności</mat-label>
      <mat-select (selectionChange)="categoryChanged($event)">
        <mat-option>Wszystkie</mat-option>
        <mat-option *ngFor="let category of paymentCategories" [value]="category">
          {{category.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field color="accent"  appearance="outline">
      <mat-label>Wyszukaj</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="wpisz szukaną frazę" [(ngModel)]="searchedKey" #input>
      <!-- (keyup)="applyFilter($event)" -->
    </mat-form-field>

    <div class="table-container">
      <table mat-table [dataSource]="billList" matSort (matSortChange)="announceSortChange($event)">

        <!-- Category Column -->
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef>Kategoria</th>
          <td mat-cell *matCellDef="let element"> {{element.paymentCategory.name}} </td>
        </ng-container>

        <!-- invioice Nr Column -->
        <ng-container matColumnDef="invoiceNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nr faktury / tytuł zapłaty</th>
          <td mat-cell *matCellDef="let element"> {{element.invoiceNumber}} </td>
        </ng-container>

        <!-- dateofissue Column -->
        <ng-container matColumnDef="dateOfIssue">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Data wystawienia</th>
          <td mat-cell *matCellDef="let element"> {{element.dateOfIssue}} </td>
        </ng-container>

        <!-- dateOfPayment Column -->
        <ng-container matColumnDef="dateOfPayment">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Termin płatności</th>
          <td mat-cell *matCellDef="let element">{{element.dateOfPayment}}</td>
        </ng-container>

        <!-- amount Column -->
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Kwota</th>
          <td mat-cell *matCellDef="let element" align="end" style="padding-right: 10px;">{{element.amount |
            currency:'zł'}}</td>
        </ng-container>

        <!-- dueDate Column -->
        <ng-container matColumnDef="dueDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Data zapłaty</th>
          <td mat-cell *matCellDef="let element">{{element.dueDate}}</td>
        </ng-container>

        <!-- wasPaid Column -->
        <ng-container matColumnDef="wasPaid">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Zapł.</th>
          <td mat-cell *matCellDef="let element">{{element.wasPaid?"TAK":"NIE"}}</td>
        </ng-container>

        <!-- action Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>...</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="accent"  matTooltip="Usuń rachunek"
              matTooltipPosition="above" (click)="deleteDialog(element)"><mat-icon>delete</mat-icon></button>
            <button mat-icon-button color="accent"  matTooltip="Podgląd rachunku"
              matTooltipPosition="above" (click)="viewDialog(element)"><mat-icon>visibility</mat-icon></button>
            <button mat-icon-button color="accent"  matTooltip="Edycja rachunku"
              matTooltipPosition="above"><mat-icon>edit</mat-icon></button>
              <button *ngIf="!element.wasPaid" mat-icon-button color="accent"  matTooltip="Zapłać"
              matTooltipPosition="above" (click)="payDialog(element)"><mat-icon>paid</mat-icon></button>

          </td>
        </ng-container>



        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>

      <mat-paginator [pageSizeOptions]="pageSizeOpt" aria-label="Select page of users" color="accent"
        appearance="outline"></mat-paginator>


    </div>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button (click)="openAddDialog()" color="accent" appearance="outline"><mat-icon>post_add</mat-icon>Nowy
      rachunek</button>

  </mat-card-actions>
  <mat-card-footer>
    Moje Rachunki 2023
  </mat-card-footer>
</mat-card>
